#ion-app {
  background: #F1F2F8 !important;
}

ion-card h5 {
  margin-top: 0;
  margin-bottom: 0;
}

ion-toolbar img.logo {
  margin-left:10px;
  margin-right:10px;
  width: 2rem;
}

.title-default {
  font-size: 1.5rem;
  padding-inline-start: 0px !important;
}

#background-content {
  background: #F1F2F8 !important;
}

.end-of-list ion-text {
  margin-left: 1px;
  margin-top: auto;
  margin-bottom: auto;
}